.title {
    font-size: 1.6rem;
    color: #FFF;
    margin-bottom: .3rem;
}

.address {
    color: #FFF;
    font-size: .9rem;
    margin-bottom: 1rem;
}

.meetupItem img {
    max-width: 25rem;
    border-radius: 5px;
    max-height: 20rem;
}

.description {
    color: #FFF;
    word-wrap: normal;
    word-break: keep-all;
    margin-bottom: 1rem;
    margin: 2rem auto;
    max-height: 10rem;
    overflow-y: auto;
}

@media screen and (max-width: 1024px) {
    .meetupItem img {
        max-width: 20rem;
    }
}