.title {
    font-size: 1.6rem;
    color: #FFF;
    margin-bottom: .3rem;
}

.address {
    color: #FFF;
    font-size: .9rem;
    margin-bottom: 1rem;
}

.meetupItem img {
    max-width: 25rem;
    height: auto;
    border-radius: 5px;
    height: auto;
}

.description {
    color: #FFF;
    word-wrap: normal;
    word-break: keep-all;
    margin-bottom: 1rem;
}

