.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    min-height: 80vh;
}

.form .title {
    font-size: 1.5rem;
    color: #FFF;
    margin-bottom: 2rem;
}

.form label {
    color: #FFF;
}

.form input, .form textarea {
    border: none;
    border-radius: 5px;
    padding: 1rem 1rem;
    margin: .5rem 0;
}

.form input:focus, .form textarea:focus {
    outline: 2px solid rgb(54, 151, 196);
}

@media screen and (max-width: 768px) {
    .form {
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 95%;
    }
}